.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  @include fluid("border-radius", 16);
  padding-left: 10px;
  padding-right: 10px;
  @include fluid("height", 67);
  box-shadow: 0 4px 0 0 #153b2b;
  transition: opacity 0.5s ease;
  background: linear-gradient(
    176deg,
    rgba(32, 69, 54, 1) 37.02%,
    rgb(44, 96, 75) 56.25%,
    rgba(32, 69, 54, 1) 76.92%
  );

  font-weight: 700;
  @include fz_24;
  letter-spacing: -0.02em;
  text-align: center;

  &.blue {
    box-shadow: 0 4px 0 0 #04070b;

    background: linear-gradient(
      176deg,
      rgb(28, 52, 83) 37.02%,
      rgb(37, 68, 108) 56.25%,
      rgb(28, 52, 83) 76.92%
    );
  }
  &.black {
    box-shadow: 0 4px 0 0 #000;
    background:
      linear-gradient(
        176deg,
        rgba(255, 255, 255, 0.06) 37.02%,
        rgba(255, 255, 255, 0.06) 56.25%,
        rgba(255, 255, 255, 0.06) 76.92%
      ),
      #0e100f;
  }

  &:hover {
    color: $text_color_main;
    opacity: 0.8;
  }
  @include tablet {
    font-size: 20px;
    height: 58px;
    border-radius: 10px;
  }
}
