// MARK: Main menu
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 1s ease;
  &.darken {
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.4);
  }
}
.menu_desktop {
  @include setupWrapSection;
  @include setupPaddingSection;
  @include fluid("padding-top", 24);
  @include fluid("padding-bottom", 24);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  //   MARK: logo
  .logo {
    img {
      @include fluid("width", 157);
      @include tablet {
        width: 144px;
      }
    }
  }

  //   MARK: main menu desktop
  .main_menu {
    width: fit-content;
    ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      @include fluid("gap", 42);
      li {
        a {
          transition: color 0.3s ease;
          @include fz_16;
          white-space: nowrap;
          font-weight: 500;
          letter-spacing: -0.02em;
          color: rgba(255, 255, 255, 0.8);

          &:hover {
            color: $accent_color;
          }
        }
      }
    }
    @include tablet {
      display: none;
    }
  }
  //   MARK: contacts block
  .contacts_block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluid("gap", 8);
    img {
      @include fluid("width", 26);
    }
    a {
      font-weight: 600;
      @include fz_20;

      letter-spacing: -0.02em;
      color: #fff;
    }
    @include tablet {
      display: none;
    }
  }

  //   MARK: socials block
  .socials_block {
    ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      @include fluid("gap", 11);
      img {
        @include fluid("width", 36);
      }
      @include tablet {
        flex-direction: row-reverse;
      }
    }
  }
  .burger_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    img {
      width: 100%;
    }
    @include mobile {
      width: 36px;
      height: 36px;
    }
  }
  @include tablet {
    padding: 20px 22px;
  }
}

// MARK: mobile menu

.wrap_menu_mobile {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgba(9, 8, 6, 1);
  height: 100%;
  padding: 17px 23px;
  padding-top: 0;
  top: -120%;

  transition: all 0.5s ease;
  .mobile_menu {
    a {
      display: block;
      font-weight: 700;
      font-size: 23px;
      line-height: 110%;
      letter-spacing: -0.02em;
      padding-bottom: 18px;
      padding-top: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  .socials_block {
    margin-top: 23px;
    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 15px;
    }
  }
  &.active {
    top: 78px;
  }
}

// MARK: CATALOG PAGE
// Pagination
.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  @include fluid("margin-top", 48);
  @include fluid("margin-bottom", 48);
  &__list {
    display: flex;
    flex-flow: row nowrap;
    @include fluid("gap", 10);
  }
  &__item {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  .pagination__link,
  .pagination__dots {
    @include fluid("border-radius", 6);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    @include fluid("height", 40);
    @include fluid("min-width", 32);
    line-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    @include fz_24;
    letter-spacing: -0.02em;
    @include fluid("padding-left", 5);
    @include fluid("padding-right", 5);
    &.pagination__link__arrow {
      background: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.3;
        background: none;
      }
    }
  }
  .pagination__link {
    transition: all 0.3s ease;
    &:hover {
      color: white;
      background: #285643;
    }
  }
}

// filter catalog
.catalog_filters_form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 24px;
  @include fluid("margin-bottom", 15);
  input[type="text"] {
    background: none;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #fff;
  }
  .dropdown_menu {
    display: none;
  }
  .filter_block {
    width: 100%;
    display: flex;
    @include fluid("height", 48);
    &.sort {
      width: fit-content;
      .filter_toggle {
        padding: 0;
        @include fluid("width", 48);
        @include fluid("height", 48);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
    }
    .filter_toggle {
      cursor: pointer;
      width: 100%;
      border-radius: 12px;
      padding: 12px 18px;
      background: rgba(40, 86, 67, 0.15);
      border: 1px solid $accent_color;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .btn_label {
        font-weight: 500;
        font-size: 18px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .filter_block_price {
    width: 100%;
    @include fluid("height", 48);
    .wrap_block_price {
      height: 100%;
      border-radius: 12px;
      padding: 12px 18px;
      background: rgba(40, 86, 67, 0.15);
      border: 1px solid $accent_color;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .col {
        flex: 1;
        input {
          width: 100%;
          &::placeholder {
            color: #fff;
          }
          color: #fff;
        }
        font-weight: 500;
        font-size: 18px;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .form_submit_btn {
    width: 100%;
    @include fluid("height", 48);
    display: flex;
    flex-flow: row nowrap;
    border-radius: 16px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    background: linear-gradient(
      176deg,
      rgba(32, 69, 54, 1) 37.02%,
      rgb(44, 96, 75) 56.25%,
      rgba(32, 69, 54, 1) 76.92%
    );
  }
}
