// MARK: Main menu
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: all 1s ease;
  &.darken {
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.4);
  }
}
.menu_desktop {
  @include setupWrapSection;
  @include setupPaddingSection;
  @include fluid("padding-top", 24);
  @include fluid("padding-bottom", 24);
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  //   MARK: logo
  .logo {
    img {
      @include fluid("width", 157);
      @include tablet {
        width: 144px;
      }
    }
  }

  //   MARK: main menu desktop
  .main_menu {
    width: fit-content;
    ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      @include fluid("gap", 42);
      li {
        a {
          transition: color 0.3s ease;
          @include fz_16;
          white-space: nowrap;
          font-weight: 500;
          letter-spacing: -0.02em;
          color: rgba(255, 255, 255, 0.8);

          &:hover {
            color: $accent_color;
          }
        }
      }
    }
    @include tablet {
      display: none;
    }
  }
  //   MARK: contacts block
  .contacts_block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluid("gap", 8);
    img {
      @include fluid("width", 26);
    }
    a {
      font-weight: 600;
      @include fz_20;

      letter-spacing: -0.02em;
      color: #fff;
    }
    @include tablet {
      display: none;
    }
  }

  //   MARK: socials block
  .socials_block {
    ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      @include fluid("gap", 11);
      img {
        @include fluid("width", 36);
      }
      @include tablet {
        flex-direction: row-reverse;
      }
    }
  }
  .burger_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    img {
      width: 100%;
    }
    @include mobile {
      width: 36px;
      height: 36px;
    }
  }
  @include tablet {
    padding: 20px 22px;
  }
}

// MARK: mobile menu

.wrap_menu_mobile {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: rgba(9, 8, 6, 1);
  height: 100%;
  padding: 17px 23px;
  padding-top: 0;
  top: -120%;

  transition: all 0.5s ease;
  .mobile_menu {
    a {
      display: block;
      font-weight: 700;
      font-size: 23px;
      line-height: 110%;
      letter-spacing: -0.02em;
      padding-bottom: 18px;
      padding-top: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  .socials_block {
    margin-top: 23px;
    ul {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      gap: 15px;
    }
  }
  &.active {
    top: 78px;
  }
}

// MARK: CATALOG PAGE
// Pagination
.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  @include fluid("margin-top", 48);
  @include fluid("margin-bottom", 48);
  @include tablet {
    margin-top: 23px;
    margin-bottom: 23px;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    @include fluid("gap", 10);
    @include tablet {
      gap: 10px;
      justify-content: center;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__item {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
  }

  .pagination__link,
  .pagination__dots {
    @include fluid("border-radius", 6);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    @include fluid("height", 40);
    @include fluid("min-width", 32);
    line-height: 100%;
    background: rgba(255, 255, 255, 0.1);
    font-weight: 500;
    @include fz_24;
    letter-spacing: -0.02em;
    @include fluid("padding-left", 5);
    @include fluid("padding-right", 5);
    &.pagination__link__arrow {
      background: none;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.3;
        background: none;
      }
      @include tablet {
        width: 34px;
        height: 34px;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    @include tablet {
      font-size: 23px;
      width: 34px;
      height: 34px;
    }
  }

  .pagination__link {
    transition: all 0.3s ease;
    &:hover {
      color: white;
      background: #285643;
    }
  }
}

//MARK:  filter catalog
.filter_wrap {
  @include fluid("margin-bottom", 48);
  //   Tags block
  .tags_block {
    display: flex;
    flex-flow: row wrap;
    @include fluid("min-height", 41);
    @include fluid("gap", 10);
    font-weight: 700;
    @include fz_18;
    letter-spacing: -0.02em;
    color: #5ba77c;
    .single_tag {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: fit-content;
      @include fluid("gap", 11);
      @include fluid("padding-left", 14);
      @include fluid("padding-right", 14);
      @include fluid("padding-top", 8);
      @include fluid("padding-bottom", 8);
      background: rgba(91, 167, 124, 0.25);
      @include fluid("border-radius", 24);
      .tag_remove_btn {
        cursor: pointer;
        background: none;
        border: none;
      }
    }
  }
}
.catalog_filters_form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  @include fluid("gap", 24);
  @include fluid("margin-bottom", 15);
  input[type="text"] {
    background: none;
    outline: none;
    border: none;
    font-weight: 500;
    @include fz_18;
    letter-spacing: -0.02em;
    color: #fff;
  }
  .dropdown_menu {
    display: none;
    position: absolute;
    top: 120%;
    z-index: 103;
    font-weight: 500;
    @include fz_18;
    letter-spacing: -0.02em;
    color: #fff;
    @include fluid("padding-top", 6);
    @include fluid("padding-bottom", 6);
    @include fluid("padding-left", 18);
    @include fluid("padding-right", 18);
    backdrop-filter: blur(20px);
    background: rgba(14, 16, 15, 0.8);
    @include fluid("border-radius", 12);
    @include fluid("min-width", 314);
    &.open {
      display: block;
    }
    .filter_list {
      label {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include fluid("gap", 9);
        @include fluid("padding-top", 10);
        @include fluid("padding-bottom", 10);

        input {
          display: none;
        }

        img.radio_ckeck {
          @include fluid("width", 20);
          @include fluid("height", 20);
          opacity: 0;
          //   display: none;
        }
        input:checked + img {
          opacity: 1;
        }
        // fake checkbox
        .fake_checkbox {
          @include fluid("width", 24);
          @include fluid("height", 24);
          @include fluid("border-radius", 5);
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          border: 1px solid $accent_color;
          .wrap_check {
            @include fluid("width", 18);
            @include fluid("height", 18);
            @include fluid("border-radius", 4);
            background: #5ba77c;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            img {
              @include fluid("width", 10);
              @include fluid("height", 7);
            }
            display: none;
          }
        }
        input:checked + .fake_checkbox {
          .wrap_check {
            display: flex;
          }
        }
      }
      li {
        &:first-child {
          label {
            border-bottom: 1px solid #285643;
          }
        }
        &:last-child {
          label {
            border-bottom: none;
          }
        }
      }
    }
  }

  .filter_block {
    position: relative;
    width: 100%;
    display: flex;
    @include fluid("height", 48);
    &.sort {
      width: fit-content;
      .filter_toggle {
        padding: 0;
        @include fluid("width", 48);
        @include fluid("height", 48);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      }
      .filter_list {
        label {
          border-bottom: 1px solid #285643;
        }
      }
    }
    .filter_toggle {
      cursor: pointer;
      width: 100%;
      @include fluid("border-radius", 12);
      @include fluid("padding-top", 12);
      @include fluid("padding-bottom", 12);
      @include fluid("padding-left", 18);
      @include fluid("padding-right", 18);
      background: rgba(40, 86, 67, 0.15);
      border: 1px solid $accent_color;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .btn_label {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .filter_block_price {
    width: 100%;
    @include fluid("height", 48);
    .wrap_block_price {
      height: 100%;
      @include fluid("border-radius", 12);
      @include fluid("padding-top", 12);
      @include fluid("padding-bottom", 12);
      @include fluid("padding-left", 18);
      @include fluid("padding-right", 18);
      background: rgba(40, 86, 67, 0.15);
      border: 1px solid $accent_color;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      .col {
        flex: 1;
        input {
          width: 100%;
          &::placeholder {
            color: #fff;
          }
          color: #fff;
        }
        font-weight: 500;
        @include fz_18;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
  .form_submit_btn {
    width: 100%;
    @include fluid("height", 48);
    display: flex;
    flex-flow: row nowrap;
    @include fluid("border-radius", 16);
    border: none;
    font-weight: 700;
    @include fz_20;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(
      176deg,
      rgba(32, 69, 54, 1) 37.02%,
      rgb(44, 96, 75) 56.25%,
      rgba(32, 69, 54, 1) 76.92%
    );
  }
}

// MARK: Мобильные фильтры
.filter_wrap_mobile {
  margin-bottom: 23px;
  flex-flow: row nowrap;
  justify-content: space-between;
  display: none;
  @include tablet {
    display: flex;
  }
  .dropdown_menu {
    display: none;
    position: absolute;
    top: 120%;
    z-index: 103;
    font-weight: 500;
    font-style: 16px;
    letter-spacing: -0.02em;
    color: #fff;
    padding: 6px 18px;
    backdrop-filter: blur(20px);
    background: rgba(14, 16, 15, 0.8);
    border-radius: 10px;
    min-width: 300px;
    &.open {
      display: block;
    }
    .filter_list {
      label {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 9px;
        padding-top: 9px;
        padding-bottom: 9px;

        input {
          display: none;
        }

        img.radio_ckeck {
          width: 20px;
          height: 20px;
          opacity: 0;
          //   display: none;
        }
        input:checked + img {
          opacity: 1;
        }
      }
      li {
        &:first-child {
          label {
            border-bottom: 1px solid #285643;
          }
        }
        &:last-child {
          label {
            border-bottom: none;
          }
        }
      }
    }
  }

  .filter_block {
    position: relative;
    width: fit-content;
    display: flex;
    &.sort {
      width: fit-content;

      .filter_list {
        label {
          border-bottom: 1px solid #285643;
        }
      }
    }
    .filter_toggle {
      cursor: pointer;
      width: 100%;
      border-radius: 8px;
      padding: 8px 15px;
      background: rgba(40, 86, 67, 0.15);
      border: 1px solid $accent_color;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      gap: 6px;
      .btn_label {
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fff;
        white-space: nowrap;
      }
    }
  }
}

// MARK: filter popUp mobile
.filters_popup_mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: -120%;
  left: 0;
  z-index: 110;
  background-color: black;
  padding: 26px 22px 30px;
  transition: top 0.5s ease;
  &.active {
    top: 0;
  }
  .wrap_filters {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
  }
  h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 10px;
  }
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 26px;
    margin-bottom: 23px;
    h2 {
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #fff;
      margin: 0;
      padding: 0;
    }
    button {
      cursor: pointer;
      background: none;
      border: none;
    }
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    gap: 23px;
    .filter_block {
      display: flex;
      flex-flow: column nowrap;
      &.price {
        width: 100%;
      }
    }
    .wrap_block_price {
      display: flex;
      flex-flow: row nowrap;
      gap: 19px;
      .col {
        flex: 1;
        input {
          width: 100%;
          background: none;
          padding: 11px 15px;
          border: 1px solid $accent_color;
          outline: none;
          border-radius: 8px;
        }
      }
    }
    .filter_list {
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: #fff;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 10px;
        input {
          display: none;
        }
        // fake checkbox
        .fake_checkbox {
          width: 26px;
          height: 26px;
          border-radius: 6px;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          justify-content: center;
          border: 1px solid $accent_color;
          .wrap_check {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            background: #5ba77c;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            img {
              width: 12px;
              height: 8px;
            }
            display: none;
          }
        }
        input:checked + .fake_checkbox {
          .wrap_check {
            display: flex;
          }
        }
      }
    }
  }
  .btn_block {
    display: flex;
    flex-flow: row nowrap;
    gap: 13px;
    width: 100%;
    padding-top: 23px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    input {
      height: 58px;
      border-radius: 10px;
      font-weight: 700;
      font-size: 20px;
      letter-spacing: -0.02em;
      text-align: center;
      color: #fff;
      background: none;
      border: 1px solid $accent_color;
      &[type="reset"] {
        flex: 1;
      }
      &[type="submit"] {
        flex: 2;
        box-shadow: 0 3px 0 0 #153b2b;
        background: linear-gradient(
          176deg,
          rgba(32, 69, 54, 1) 37.02%,
          rgb(44, 96, 75) 56.25%,
          rgba(32, 69, 54, 1) 76.92%
        );
      }
    }
  }
}
