* {
  box-sizing: border-box; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background-color: #0e100f; }

*,
ul,
li {
  color: white;
  font-family: "Jura", sans-serif; }

a {
  font-family: "Jura", sans-serif; }
  a:hover {
    color: #285643; }

.btn {
  border-radius: 16px;
  padding: 19px 48px 22px;
  width: 393px;
  height: 67px;
  box-shadow: 0 4px 0 0 #153b2b;
  transition: opacity 0.5s ease;
  background: linear-gradient(176deg, #204536 37.02%, #2c604b 56.25%, #204536 76.92%);
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.02em;
  text-align: center; }
  .btn:hover {
    color: white;
    opacity: 0.8; }

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%; }

.menu_desktop {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (min-width: 1001px) {
    .menu_desktop {
      max-width: calc(100vw * (1400 / 1920)); } }
  @media screen and (max-width: 1000px) {
    .menu_desktop {
      max-width: 1400px; } }
  @media screen and (min-width: 1001px) {
    .menu_desktop {
      padding-top: calc(100vw * (24 / 1920)); } }
  @media screen and (max-width: 1000px) {
    .menu_desktop {
      padding-top: 24px; } }
  @media screen and (min-width: 1001px) {
    .menu_desktop {
      padding-bottom: calc(100vw * (24 / 1920)); } }
  @media screen and (max-width: 1000px) {
    .menu_desktop {
      padding-bottom: 24px; } }
  @media screen and (min-width: 1001px) {
    .menu_desktop .logo img {
      width: calc(100vw * (157 / 1920)); } }
  @media screen and (max-width: 1000px) {
    .menu_desktop .logo img {
      width: 157px; } }
  .menu_desktop .main_menu {
    width: fit-content; }
    .menu_desktop .main_menu ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between; }
      @media screen and (min-width: 1001px) {
        .menu_desktop .main_menu ul {
          gap: calc(100vw * (42 / 1920)); } }
      @media screen and (max-width: 1000px) {
        .menu_desktop .main_menu ul {
          gap: 42px; } }
      .menu_desktop .main_menu ul li a {
        transition: color 0.3s ease;
        font-size: clamp(8px, calc( 8px + (16 - 8) * ((100vw - 1000px) / (1920 - 1000)) ), 16px);
        white-space: nowrap;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.8); }
        .menu_desktop .main_menu ul li a:hover {
          color: #285643; }
  .menu_desktop .contacts_block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    @media screen and (min-width: 1001px) {
      .menu_desktop .contacts_block {
        gap: calc(100vw * (8 / 1920)); } }
    @media screen and (max-width: 1000px) {
      .menu_desktop .contacts_block {
        gap: 8px; } }
    @media screen and (min-width: 1001px) {
      .menu_desktop .contacts_block img {
        width: calc(100vw * (26 / 1920)); } }
    @media screen and (max-width: 1000px) {
      .menu_desktop .contacts_block img {
        width: 26px; } }
    .menu_desktop .contacts_block a {
      font-weight: 600;
      font-size: clamp(10px, calc( 10px + (20 - 10) * ((100vw - 1000px) / (1920 - 1000)) ), 20px);
      letter-spacing: -0.02em;
      color: #fff; }
  .menu_desktop .socials_block ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
    @media screen and (min-width: 1001px) {
      .menu_desktop .socials_block ul {
        gap: calc(100vw * (11 / 1920)); } }
    @media screen and (max-width: 1000px) {
      .menu_desktop .socials_block ul {
        gap: 11px; } }
    @media screen and (min-width: 1001px) {
      .menu_desktop .socials_block ul img {
        width: calc(100vw * (36 / 1920)); } }
    @media screen and (max-width: 1000px) {
      .menu_desktop .socials_block ul img {
        width: 36px; } }

h1 {
  font-family: "Micra", sans-serif;
  font-weight: normal;
  font-size: 48px;
  line-height: 120%; }

.hero_section .wrap_section {
  position: relative; }
.hero_section .wrap_bg {
  position: absolute;
  z-index: 1; }
  .hero_section .wrap_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.hero_section .wrap_content {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding-top: 149px; }
  @media screen and (min-width: 1001px) {
    .hero_section .wrap_content {
      max-width: calc(100vw * (1400 / 1920)); } }
  @media screen and (max-width: 1000px) {
    .hero_section .wrap_content {
      max-width: 1400px; } }
  .hero_section .wrap_content h1 {
    margin-bottom: 34px; }
.hero_section .features {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  margin-bottom: 55px; }
  .hero_section .features li {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em; }
  .hero_section .features .marker {
    width: 4px;
    background: linear-gradient(180deg, #377159 0%, rgba(55, 113, 89, 0.45) 100%); }
  .hero_section .features .desciption {
    max-width: 425px; }

/*# sourceMappingURL=styles.css.map */
