// MARK: main page

// общие стили

h1 {
  font-family: "Micra", sans-serif;
  font-weight: normal;

  @include fz_48;
  line-height: 120%;
}
h2 {
  font-weight: 400;
  @include fz_38;
  line-height: 120%;
  font-family: "Micra", sans-serif;
  @include tablet {
    font-size: 24px;
  }
}
.text_center {
  text-align: center;
}

.desktop {
  @include tablet {
    display: none !important;
  }
}
.mobile {
  display: none !important;
  @include tablet {
    display: block !important;
  }
}

// MARK: Gradients
.wrap_gradient_center {
  position: absolute;
  @include fluid("top", 879);
  left: 0;
  z-index: -1;
  @include fluid("width", 1400);
  @include fluid("height", 1400);
  overflow: hidden;
  opacity: 0.5;
  .gradient {
    transform: translateX(-60%);
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 0) 100%
    );
  }
  &.right {
    top: 60%;
    left: unset;
    right: 0;
    .gradient {
      transform: translateX(60%);
    }
  }
  @include tablet {
    display: none;
  }
}
.wrap_gradient_top {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  @include fluid("height", 1400);
  @include fluid("width", 1400);
  overflow: clip;
  opacity: 0.5;
  .gradient {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 0) 100%
    );
    transform: translate(55%, -50%);
  }
  @include tablet {
    display: none;
  }
}
.wrap_gradient_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  @include fluid("height", 1400);
  @include fluid("width", 1400);
  overflow: clip;
  opacity: 0.7;
  .gradient {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 0) 100%
    );
    transform: translate(55%, 30%);
  }
  &.left {
    right: unset;
    left: 0;
    .gradient {
      transform: translate(-50%, 50%);
    }
  }
  @include tablet {
    display: none;
  }
}
// Перечисления
.features_list {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  li {
    display: flex;
    flex-flow: row nowrap;
    @include fluid("gap", 16);
    font-weight: 500;
    font-size: 18px;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .marker {
    width: 4px;
    background: linear-gradient(
      180deg,
      #377159 0%,
      rgba(55, 113, 89, 0.45) 100%
    );
    //   height: 100%;
  }
  .desciption {
    max-width: 425px;
  }
  @include fluid("margin-bottom", 55);
  @include tablet {
    margin-bottom: 30px;
  }
}

// MARK: Hero section
.hero_section {
  .wrap_section {
    position: relative;
  }
  .wrap_bg {
    position: relative;

    z-index: 1;
    overflow: hidden;
    height: 810px;
    @include fluid("height", 810);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .block_content {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  .wrap_content {
    position: relative;
    @include setupPaddingSection;
    @include setupWrapSection;

    @include fluid("padding-top", 149);
    h1 {
      margin-bottom: 34px;
      @include tablet {
        font-size: 24px;
      }
    }
  }
  @include tablet {
    .wrap_bg {
      position: static;
      width: 100%;
      height: auto;
    }
    .wrap_content {
      padding-top: 0;
    }
    .block_content {
      position: static;
    }
    .features_list {
      gap: 15px;
      li {
        font-size: 16px;
        .desciption {
          max-width: 100%;
        }
      }
    }
    .btn_wrap {
      a {
        width: 100%;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

// MARK: features section
.features_section {
  @include setupPaddingSection;
  @include setupWrapSection;
  @include fluid("margin-top", 100);
  h2 {
    text-align: center;
    @include fluid("margin-bottom", 12);
  }
  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    font-family: "Jura", sans-serif;
  }
  .features_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include fluid("margin-top", 85);
    .feature {
      @include fluid("width", 208);
      background: linear-gradient(
        180deg,
        rgba(40, 86, 67, 0) 0%,
        rgba(40, 86, 67, 1) 100%
      );
      padding: 2px;
      border-radius: 12px;
    }
    .feature_wrap {
      background: rgb(18, 27, 23);
      border-radius: 12px;
      height: 100%;
      img {
        transform: translateY(-40%);
        width: 100%;
      }
      h3 {
        @include fluid("padding-left", 24);
        @include fluid("padding-right", 24);
        @include fluid("padding-bottom", 24);
        @include fluid("margin-top", -24);
        @include fz_18;
        text-align: center;
        font-family: "Jura", sans-serif;
      }
    }
  }
  .btn_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @include fluid("margin-top", 54);
  }
  @include tablet {
    margin-top: 51px;
    h2 {
      font-size: 28px;
    }
    .features_block {
      column-gap: 18px;
      row-gap: 60px;
      .feature_wrap {
        h3 {
          font-size: 15px;
        }
      }
      .feature {
        flex: 1 1 160px;
        max-width: 210px;
      }
    }
  }
}

// MARK: tariffs section

.tariffs_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h1,
  h2 {
    @include fluid("margin-bottom", 40);
    text-align: center;
  }
  .tariffs_block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    @include fluid("gap", 30);
  }
  .card {
    @include fluid("width", 566);
    border-radius: 24px;
    overflow: clip;
    .header_block {
      position: relative;

      .card_bg {
        position: absolute;
        inset: 0;
        img {
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
      .wrap_header_content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        @include fluid("gap", 9);
        @include fluid("padding-top", 44);
        @include fluid("padding-right", 167);
        @include fluid("padding-bottom", 43);
        @include fluid("padding-left", 33);
        @include tablet {
          padding: 22px 11px 22px 23px;
        }
      }
      h3 {
        font-weight: 700;
        @include font(28);
        line-height: 110%;
        letter-spacing: -0.04em;
      }
      .cost {
        font-family: "Micra", sans-serif;
        font-weight: 400;
        @include font(48);
        line-height: 110%;
        letter-spacing: -0.04em;
        @include tablet {
          font-size: 30px;
        }
      }
      .description {
        font-weight: 500;
        @include font(18);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
        @include tablet {
          font-size: 15px;
        }
      }
    }
    .services_wrap {
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 18);
      background: linear-gradient(
        180deg,
        rgba(40, 86, 67, 0.45) 0%,
        rgba(40, 86, 67, 0.45) 100%
      );
      @include fluid("padding-top", 27);
      @include fluid("padding-right", 30);
      @include fluid("padding-left", 30);
      @include fluid("padding-bottom", 32);
      &.premium {
        background: linear-gradient(
          180deg,
          rgba(28, 52, 83, 0.45) 0%,
          rgba(28, 52, 83, 0.45) 100%
        );
      }
      @include tablet {
        padding: 18px 23px;
      }
    }
    .services__block {
      display: flex;
      flex-flow: column nowrap;

      @include fluid("gap", 6);
      h4 {
        font-weight: 700;

        @include font(28);
        line-height: 110%;
        letter-spacing: -0.02em;
      }
    }
    .services__list {
      display: flex;
      flex-flow: column nowrap;
      gap: 6px;
      @include fluid("gap", 6);
      li {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        &::before {
          content: url("../images/icons/check.svg");
          @include fluid("width", 20);
          @include fluid("height", 20);
          @include fluid("margin-right", 8);
        }
        @include tablet {
          font-size: 15px;
        }
      }
      @include tablet {
        gap: 4px;
      }
    }
    .services__note {
      @include fluid("margin-top", 18);
      @include fz_18;
      font-weight: 500;

      line-height: 110%;
      letter-spacing: -0.02em;
      @include tablet {
        font-size: 15px;
      }
    }
    .btn_wrap {
      @include fluid("margin-top", 32);
      a {
        width: 100%;
      }
      @include tablet {
        margin-top: 20px;
      }
    }
  }
  @include tablet {
    margin-top: 80px;
    h1,
    h2 {
      margin-bottom: 23px;
    }
    .tariffs_block {
      flex-flow: row wrap;
      gap: 23px;
    }
    .card {
      width: unset;
      flex: 1 1 350px;
      .header_block {
        .wrap_header_content {
          padding-right: 100px;
        }
      }
    }
  }
}

// MARK: Catalog section
.catalog_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
    @include tablet {
      margin-bottom: 23px;
    }
  }
  .models_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 36px;
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px 23px;
    }
  }
  .card {
    @include fluid("border-radius", 16);
    @include fluid("padding", 12);
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $accent_color;
    @include fluid("gap", 22);
    .img_wrap {
      @include fluid("border-radius", 12);
      @include fluid("height", 240);
      overflow: clip;
      margin-top: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include tablet {
        height: 206px;
        border-radius: 10px;
        margin-top: 0;
      }
    }

    .content_wrap {
      h3 {
        font-weight: 700;
        @include font(28);

        line-height: 110%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 14);
        @include tablet {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }
      .characteristic_block {
        font-weight: 700;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        @include fluid("margin-bottom", 8);
        span {
          color: rgba(255, 255, 255, 0.65);
          @include fluid("margin-right", 14);
        }
        @include tablet {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
    .btn_block {
      @include fluid("margin-top", 22);
      margin-bottom: 4px;
      a {
        width: 100%;
      }
    }
    &.last {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      a {
        border: 1px solid $accent_color;
        border-radius: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        @include fluid("gap", 13);
        @include fluid("width", 280);
        @include fluid("height", 280);
        background-color: rgba(40, 86, 67, 0.15);

        .title {
          font-weight: 700;
          @include font(28);
          line-height: 110%;
          letter-spacing: -0.02em;
          text-align: center;
        }

        img {
          @include fluid("width", 24);
          @include fluid("height", 24);
        }
        cursor: pointer;
        &:hover {
          background-color: rgba(40, 86, 67, 0.4);
        }
        @include mobile {
          border-radius: 10px;
          width: 100%;
          max-width: 680px;
          height: 58px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: 15px;
          .title {
            br {
              display: none;
            }
          }
        }
      }
      @include mobile {
        padding: 0;
      }
    }
    @include tablet {
      border-radius: 15px;
    }
    @include mobile {
      &:nth-child(n + 4):nth-child(-n + 5) {
        display: none;
      }
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

// MARK: work process section
.work-process_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
  }
  .steps_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include fluid("column-gap", 33);
    @include fluid("row-gap", 50);
    .step {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-start;
      @include fluid("gap", 14);
      @include mobile {
        flex-direction: column;
        gap: 10px;
      }
    }
    .num_block {
      @include fluid("width", 66);
      @include fluid("height", 66);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(40, 86, 67, 0.5);
      border-radius: 50%;
      flex-shrink: 0;
      color: rgba(91, 167, 124, 1);
      @include fz_20;
      @include tablet {
        width: 50px;
        height: 50px;
        font-size: 15px;
      }
    }
    .content_block {
      h3 {
        font-weight: bold;
        @include font(28);
        line-height: 95%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 8);
        @include tablet {
          font-size: 20px;
        }
      }
      .description {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
        @include tablet {
          font-size: 15px;
        }
      }
    }
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      column-gap: 22px;
      row-gap: 26px;
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

//MARK: advantages section

.advantages_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include fluid("gap", 30);
    @include tablet {
      flex-wrap: wrap;
      gap: 21px;
    }
  }
  .advantage {
    position: relative;
    flex: 1;
    background: linear-gradient(
      180deg,
      rgba(40, 86, 67, 0.35) 0%,
      rgba(40, 86, 67, 1) 100%
    );
    padding: 2px;
    @include fluid("border-radius", 12);

    .bg_wrap {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 15px;
      padding-top: 15px;
      img {
        @include fluid("width", 190);
        opacity: 0.3;
      }
      @include mobile {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .wrap_advantage {
      @include fluid("padding-top", 48);
      @include fluid("padding-bottom", 20);
      @include fluid("padding-left", 30);
      @include fluid("padding-right", 30);
      @include fluid("border-radius", 12);
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 20);
      background: linear-gradient(
        180deg,
        rgb(18, 27, 23) 0%,
        rgb(18, 27, 23) 100%
      );
      .features_list {
        margin-bottom: 0;
        li {
          .desciption {
            @include fz_18;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.65);
            @include tablet {
              font-size: 15px;
            }
          }
        }
        @include tablet {
          gap: 13px;
        }
      }
      @include tablet {
        padding: 30px 23px 29px;
        gap: 13px;
      }
    }
    @include tablet {
      min-width: 300px;
      flex: 1 1 300;
    }
  }
  h3 {
    font-weight: 700;
    @include font(28);
    line-height: 95%;
    letter-spacing: -0.04em;
    @include tablet {
      font-size: 23px;
    }
  }
  .post_title {
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.65);
    span {
      color: $accent_color;
    }
    @include tablet {
      font-size: 15px;
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

// MARK: baner section

.baner_section {
  @include fluid("margin-top", 161);
  @include setupPaddingSection;
  .wrap_section {
    position: relative;
    @include setupWrapSection;
    @include fluid("border-radius", 36);
    background: linear-gradient(
      180deg,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 1) 51.92%
    );
    .section_bg {
      position: absolute;
      bottom: 0;
      right: 80px;
      @include fluid("right", 80);
      @include fluid("width", 423);
      @include tablet {
        position: static;
        width: 100%;
        max-width: 350px;
        margin-top: 20px;
      }
      @include mobile {
        margin-bottom: -90px;
      }
    }
    @include tablet {
      display: flex;
      flex-flow: column-reverse nowrap;
      overflow: clip;
      align-items: center;
      border-radius: 15px;
    }
  }
  .content_block {
    @include fluid("padding-top", 76);
    @include fluid("padding-bottom", 76);
    @include fluid("padding-left", 64);
    max-width: 60%;
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 36);
    @include tablet {
      max-width: 100%;
      padding: 30px 31px 23px 23px;
      gap: 18px;
    }
  }
  .post_title {
    font-weight: 500;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
    @include tablet {
      font-size: 15px;
    }
  }
  .btn_wrap {
    a {
      @include fluid("width", 546);
      @include tablet {
        width: 100%;
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

// MARK: footer

footer {
  position: relative;
  overflow-x: clip;
  @include fluid("margin-top", 100);
  .wrap_footer {
    background-color: rgba(0, 0, 0, 1);
  }

  .inner_footer {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include fluid("padding-bottom", 63);
    @include fluid("padding-top", 56);
    @include tablet {
      flex-direction: column;
    }
    @include tablet {
      padding: 40px 23px 46px;
      gap: 30px;
    }
  }
  .wrap_gradient {
    position: absolute;
    top: -400px;
    overflow: hidden;
    height: 400px;
    width: 200%;
    z-index: -1;
    // opacity: 0.5;
  }
  .gradient_top {
    z-index: -1;
    transform: translateX(-25%);
    width: 100%;
    height: 800px;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 0) 100%
    );
  }
  h3 {
    font-weight: 600;
    @include font(28);

    letter-spacing: -0.04em;
    @include fluid("margin-bottom", 16);
    @include tablet {
      margin-bottom: 7px;
    }
  }
  .col_logo {
    @include fluid("width", 311);
    display: flex;
    flex-flow: column nowrap;
    gap: 37px;
    .anatation {
      font-weight: 500;
      @include font(20);
      line-height: 110%;
      letter-spacing: -0.02em;
      @include tablet {
        font-size: 15px;
      }
    }
    @include tablet {
      gap: 17px;
      .logo {
        img {
          width: 182px;
        }
      }
    }
  }

  .col_contacts {
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 47);
    .row_block {
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 10);
      @include tablet {
        gap: 6px;
      }
    }
    .contact_block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-weight: 600;
      @include font(20);
      letter-spacing: -0.02em;
      @include fluid("gap", 10);
      @include tablet {
        font-size: 15px;
      }
    }
    .socials_block {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include fluid("gap", 11);
        li {
          @include fluid("width", 36);
        }
        img {
          width: 100%;
        }
      }
      @include tablet {
        margin-top: 7px;
      }
    }
    @include tablet {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
  .col_legal {
    @include fluid("width", 566);
    .legal_text {
      font-weight: 500;
      font-size: 16px;
      @include fz_16;
      line-height: 100%;
      letter-spacing: -0.02em;
      p {
        @include fluid("margin-bottom", 10);
        @include tablet {
          margin-bottom: 4px;
        }
      }
      span {
        color: rgba(255, 255, 255, 0.65);
      }
      @include tablet {
        font-size: 14px;
      }
    }
    @include tablet {
      h3 {
        margin-bottom: 13px;
      }
      width: 100%;
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

// MARK: tariffs page
main {
  @include fluid("margin-top", 49);
}
body {
  position: relative;
}
.tarrifs_page {
  .tariffs_section {
    h2 {
      @include fluid("margin-bottom", 12);
    }
  }
  //   отключаем стандартный градиент футера
  .wrap_gradient {
    display: none;
  }
}
.tariffs_section {
  h2 {
    @include tablet {
      margin-bottom: 11px;
    }
  }
  .section_post_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @include fluid("width", 982);
    @include fluid("margin-bottom", 36);
    @include tablet {
      width: 100%;
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
}

// MARK: comparison section
.comparison_section {
  @include fluid("margin-top", 100);
  @include tablet {
    margin-top: 51px;
  }
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
    @include fluid("max-width", 1000);
  }
  h2 {
    @include fluid("margin-bottom", 36);
    text-align: center;
    @include tablet {
      margin-bottom: 23px;
    }
  }
  .comparioson_block {
    li {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      @include fluid("height", 70);
      font-weight: 700;
      @include fz_22;
      line-height: 110%;
      letter-spacing: -0.02em;
      @include tablet {
        font-size: 14px;
        height: 55px;
      }
      img {
        @include fluid("widht", 42);
        @include fluid("height", 42);
        @include tablet {
          width: 25px;
          height: 25px;
        }
      }
      & > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .param {
        @include fluid("width", 343);
        justify-content: flex-start;
        @include tablet {
          width: 35%;
        }
      }
      .base {
        flex: 1;
        background:
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 52.76%
          ),
          rgba(40, 86, 67, 0.4);
      }
      .premium {
        flex: 1;
        text-align: center;
        background:
          linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4) 0%,
            rgba(0, 0, 0, 0.4) 52.76%
          ),
          rgba(28, 52, 83, 0.4);
      }
      &.header_table {
        border-bottom: none;
        .base {
          border-radius: 12px 0 0 0;
          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 12px 0 0 12px;
            background:
              linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.25) 0%,
                rgba(0, 0, 0, 0.25) 52.76%
              ),
              #285643;
          }
        }
        .premium {
          border-radius: 0 12px 0 0;
          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            border-radius: 0 12px 12px 0;
            background:
              linear-gradient(
                180deg,
                rgba(0, 0, 0, 0.25) 0%,
                rgba(0, 0, 0, 0.25) 52.76%
              ),
              #1c3453;
          }
        }
      }
      &:last-child {
        border-bottom: none;
        .base {
          border-radius: 0 0 0 12px;
        }
        .premium {
          border-radius: 0 0 12px 0;
        }
      }
    }
  }
}

// MARK: baner two section
.baner_two_section {
  @include fluid("margin-top", 100);
  padding-left: 20px;
  padding-right: 20px;
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include fluid("gap", 54);
    @include fluid("padding-top", 24);
    @include fluid("padding-bottom", 24);
    @include fluid("padding-left", 21);
    @include fluid("padding-right", 105);
    border: 1px solid #285643;
    @include fluid("border-radius", 36);
    background: rgba(40, 86, 67, 0.15);
    @include tablet {
      flex-direction: column;
      padding: 15px 15px 36px;
      border-radius: 15px;
      gap: 23px;
    }
  }
  .col {
    flex: 1;
    &.img_col {
      overflow: clip;
      @include fluid("border-radius", 12);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include tablet {
        border-radius: 8px;
      }
    }
    h2 {
      font-weight: 400;
      @include fz_48;
      @include fluid("margin-bottom", 12);
      @include tablet {
        font-size: 24px;
        margin-bottom: 11px;
      }
    }
    .description {
      font-weight: 500;
      @include fz_18;
      line-height: 110%;
      letter-spacing: -0.02em;
      a {
        color: rgba(91, 167, 124, 1);
        &:hover {
          text-decoration: underline;
        }
      }
      p {
        @include fluid("margin-bottom", 14);
      }
      @include tablet {
        font-size: 16px;
        p {
          margin-bottom: 12px;
        }
      }
    }
    &.conent_col {
      @include tablet {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

// Mark: PROCES PAGE
.process_page {
  //   отключаем стандартный градиент футера
  .wrap_gradient {
    display: none;
  }
}
// MARK: Header_page_section
.header_page {
  @include fluid("margin-top", 152);
  @include fluid("border-bottom-right-radius", 48);
  @include fluid("border-bottom-left-radius", 48);
  @include fluid("padding-bottom", 81);
  background: linear-gradient(180deg, rgba(40, 86, 67, 0) 0%, #285643 100%);
  overflow: clip;
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h1 {
    text-align: center;
    @include fluid("margin-bottom", 20);
    @include tablet {
      font-size: 24px;
    }
  }
  .description {
    font-weight: 500;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    @include tablet {
      font-size: 16px;
    }
  }
  @include tablet {
    padding: 0 23px 38px;
    margin-top: 102px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    br {
      display: none;
    }
  }
}

// MARK: steps section

.steps_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
  }
  .steps_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include fluid("column-gap", 33);
    @include fluid("row-gap", 50);
    .step {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      @include fluid("gap", 14);
      @include mobile {
        // flex-direction: column;
        gap: 10px;
      }
    }
    .num_block {
      @include fluid("width", 66);
      @include fluid("height", 66);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(40, 86, 67, 0.5);
      border-radius: 50%;
      flex-shrink: 0;
      color: rgba(91, 167, 124, 1);
      img {
        width: 100%;
      }
      @include fz_20;
      @include tablet {
        width: 50px;
        height: 50px;
        font-size: 15px;
      }
    }
    .content_block {
      .stage {
        font-weight: 700;
        @include fz_18;
        letter-spacing: -0.04em;
        color: #5ba77c;
        @include fluid("margin-bottom", 8);
        @include tablet {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      h3 {
        font-weight: bold;
        @include font(28);
        line-height: 95%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 8);
        @include tablet {
          font-size: 23px;
          margin-bottom: 5px;
        }
      }
      .description {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
        display: flex;
        flex-flow: column nowrap;

        @include fluid("gap", 8);
        p,
        li {
          color: rgba(255, 255, 255, 0.65);
        }
        ul {
          display: flex;
          flex-flow: column nowrap;
          @include fluid("gap", 8);
          @include fluid("padding-left", 25);
          li {
            list-style: disc;
          }
          @include tablet {
            gap: 5px;
          }
        }
        @include tablet {
          font-size: 15px;
          gap: 5px;
        }
      }
    }
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 22px;
      row-gap: 26px;
    }
  }
  @include tablet {
    margin-top: 51px;
  }
}

// Mark: GUARANTEE PAGE
.guarantee_page {
  // MARK: advantages section
  .wrap_gradient {
    display: none;
  }
  .advantages_section {
    .wrap_section {
      flex-flow: row wrap;
    }
    .advantage {
      flex: 1 1 350px;
      .wrap_advantage {
        .features_list {
          @include fluid("gap", 12);
        }
      }
      .bg_wrap {
        img {
          @include tablet {
            width: 160px;
          }
        }
      }
    }
  }
  .btn_block {
    @include fluid("margin-top", 48);
    padding-left: 20px;
    padding-right: 20px;
    a {
      margin-left: auto;
      margin-right: auto;
      @include tablet {
        width: 100%;
      }
    }
    @include tablet {
      margin-top: 23px;
    }
  }
}

// MARK: CONTACTS PAGE

.contacts_page {
  .wrap_gradient {
    display: none;
    @include tablet {
      display: block;
    }
  }
  .header_page {
    .btn_block {
      @include fluid("margin-top", 30);
      a {
        margin-left: auto;
        margin-right: auto;
        @include tablet {
          width: 100%;
        }
      }
      @include tablet {
        margin-top: 11px;
      }
    }
  }
}

// MARK: contacts section
.contacts_section {
  @include fluid("margin-top", 80);
  @include tablet {
    margin-top: 51px;
  }
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    @include fluid("gap", 32);
    @include tablet {
      flex-direction: column;
    }
  }
  h2 {
    @include fluid("margin-bottom", 12);
  }
  h3 {
    font-weight: 700;
    @include fz_28;
    letter-spacing: -0.04em;
    @include fluid("margin-bottom", 12);
    @include tablet {
      margin-bottom: 10px;
    }
  }
  .contacts_list {
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 10);
    li {
      a {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include fluid("gap", 10);
        font-weight: 700;
        @include fz_20;
        letter-spacing: -0.02em;
        img {
          @include fluid("width", 24);
          @include tablet {
            width: 23px;
          }
        }
        @include tablet {
          font-size: 16px;
        }
      }
    }
    @include tablet {
      gap: 8px;
    }
  }
  .socials_block {
    a {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      @include fluid("gap", 10);
      font-weight: 700;
      @include fz_20;
      letter-spacing: -0.02em;
      img {
        @include fluid("width", 24);
        @include tablet {
          width: 23px;
        }
      }
      @include tablet {
        font-size: 16px;
      }
    }
    @include tablet {
      margin-top: 13px;
    }
  }
  .legal_block {
    .legal_text {
      font-weight: 500;
      @include fz_16;
      line-height: 100%;
      letter-spacing: -0.02em;
      p {
        @include fluid("margin-bottom", 10);
        @include tablet {
          margin-bottom: 4px;
        }
      }
      span {
        color: rgba(255, 255, 255, 0.65);
      }
      @include tablet {
        font-size: 16px;
      }
    }
    @include tablet {
      margin-top: 13px;
    }
  }

  .col_content {
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 40);
    @include tablet {
      gap: 10px;
    }
  }
  .col_img {
    @include fluid("width", 805);
    @include fluid("border-radius", 36);
    overflow: clip;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include tablet {
      width: 100%;
    }
  }
}

// MARK: CLIENTS PAGE
// case section
.case_section {
  @include fluid("margin-top", 80);
  @include tablet {
    margin-top: 51px;
  }
  h2 {
    text-align: center;
    @include fluid("margin-bottom", 48);
    @include tablet {
      margin-bottom: 23px;
    }
  }
  //   slider
  .swiper {
    width: 100%;
    overflow: hidden;
    .swiper-slide {
      @include fluid("border-radius", 36);
      overflow: clip;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include tablet {
        border-radius: 15px;
      }
    }
    .swiper-navigation {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      @include fluid("gap", 11);
      @include fluid("margin-top", 36);
      svg {
        @include fluid("width", 48);
        opacity: 0.35;
        transition: opacity 0.3s ease;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      @include tablet {
        margin-top: 15px;
        gap: 15px;
        svg {
          width: 34px;
        }
      }
    }
  }
  .wrap_content {
    @include setupPaddingSection;
    @include setupWrapSection;
    @include fluid("margin-top", 48);
    @include tablet {
      margin-top: 15px;
    }
    h3 {
      font-weight: 700;
      @include fz_28;
      letter-spacing: -0.04em;
      @include fluid("margin-bottom", 10);
      @include tablet {
        margin-bottom: 10px;
        font-size: 23px;
      }
    }
    p {
      font-weight: 400;
      @include fz_20;
      line-height: 110%;
      letter-spacing: -0.02em;
      color: #fff;
      @include fluid("margin-bottom", 15);
      @include tablet {
        margin-bottom: 15px;
        font-size: 16px;
      }
    }
    & > div,
    > article {
      @include fluid("margin-top", 48);
      @include tablet {
        margin-top: 15px;
      }
    }
    .anatation_clock {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .result_block,
    .review_block {
      @include fluid("border-radius", 36);
      @include fluid("padding-top", 36);
      @include fluid("padding-left", 45);
      @include fluid("padding-right", 45);
      @include fluid("padding-bottom", 42);
      border: 1px solid #285643;
      p {
        margin-bottom: 0;
      }
      @include tablet {
        padding: 23px;
        border-radius: 23px;
      }
    }
    .result_block {
      background: rgba(40, 86, 67, 0.15);
    }
    .review_block {
      background:
        linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.25) 0%,
          rgba(0, 0, 0, 0.25) 90%
        ),
        #285643;
    }
    .features_list {
      @include tablet {
        gap: 10px;
        .desciption {
          max-width: 100%;
          font-size: 16px;
        }
        font-size: 16px;
      }
    }
  }
}

// MARK: CATALOG PAGE
// MARK: Catalog section
.catalog_page {
  .wrap_gradient {
    display: none;
  }
}

.catalog_general_section {
  @include fluid("margin-top", 150);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
    @include tablet {
      margin-bottom: 23px;
    }
  }
  .models_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 36px;
    @include tablet {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 20px 23px;
    }
  }

  .card {
    @include fluid("border-radius", 16);
    @include fluid("padding", 12);
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $accent_color;
    @include fluid("gap", 22);
    .img_wrap {
      @include fluid("border-radius", 12);
      @include fluid("height", 240);
      overflow: clip;
      margin-top: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include tablet {
        height: 206px;
        border-radius: 10px;
        margin-top: 0;
      }
    }

    .content_wrap {
      h3 {
        font-weight: 700;
        @include font(28);

        line-height: 110%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 14);
        @include tablet {
          font-size: 28px;
          margin-bottom: 10px;
        }
      }
      .characteristic_block {
        font-weight: 700;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        @include fluid("margin-bottom", 8);
        span {
          color: rgba(255, 255, 255, 0.65);
          @include fluid("margin-right", 14);
        }
        @include tablet {
          font-size: 16px;
          margin-bottom: 5px;
        }
      }
    }
    .btn_block {
      @include fluid("margin-top", 22);
      margin-bottom: 4px;
      a {
        width: 100%;
      }
    }
    &.last {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      a {
        border: 1px solid $accent_color;
        border-radius: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        @include fluid("gap", 13);
        @include fluid("width", 280);
        @include fluid("height", 280);
        background-color: rgba(40, 86, 67, 0.15);

        .title {
          font-weight: 700;
          @include font(28);
          line-height: 110%;
          letter-spacing: -0.02em;
          text-align: center;
        }

        img {
          @include fluid("width", 24);
          @include fluid("height", 24);
        }
        cursor: pointer;
        &:hover {
          background-color: rgba(40, 86, 67, 0.4);
        }
        @include mobile {
          border-radius: 10px;
          width: 100%;
          max-width: 680px;
          height: 58px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          gap: 15px;
          .title {
            br {
              display: none;
            }
          }
        }
      }
      @include mobile {
        padding: 0;
      }
    }
    @include tablet {
      border-radius: 15px;
    }
    @include mobile {
      &:nth-child(n + 4):nth-child(-n + 5) {
        display: none;
      }
    }
  }
  .note_block {
    font-weight: 500;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    span {
      color: $accent_color;
    }
  }
  @include tablet {
    margin-top: 83px;
  }
}
