// MARK: main page

// общие стили

h1 {
  font-family: "Micra", sans-serif;
  font-weight: normal;

  @include fz_48;
  line-height: 120%;
}
h2 {
  font-weight: 400;
  @include fz_38;
  line-height: 120%;
  font-family: "Micra", sans-serif;
}
.text_center {
  text-align: center;
}

// Перечисления
.features_list {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;

  li {
    display: flex;
    flex-flow: row nowrap;
    @include fluid("gap", 16);
    font-weight: 500;
    font-size: 18px;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .marker {
    width: 4px;
    background: linear-gradient(
      180deg,
      #377159 0%,
      rgba(55, 113, 89, 0.45) 100%
    );
    //   height: 100%;
  }
  .desciption {
    max-width: 425px;
  }
  @include fluid("margin-bottom", 55);
}

// MARK: Hero section
.hero_section {
  .wrap_section {
    position: relative;
  }
  .wrap_bg {
    position: relative;

    z-index: 1;
    overflow: hidden;
    height: 810px;
    @include fluid("height", 810);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .block_content {
    position: absolute;
    inset: 0;
    z-index: 2;
  }
  .wrap_content {
    position: relative;
    @include setupPaddingSection;
    @include setupWrapSection;

    @include fluid("padding-top", 149);
    h1 {
      margin-bottom: 34px;
    }
  }
}

// MARK: features section
.features_section {
  @include setupPaddingSection;
  @include setupWrapSection;
  @include fluid("margin-top", 100);
  h2 {
    text-align: center;
    @include fluid("margin-bottom", 12);
  }
  .description {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: center;
    font-family: "Jura", sans-serif;
  }
  .features_block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    @include fluid("margin-top", 85);
    .feature {
      @include fluid("width", 208);
      background: linear-gradient(
        180deg,
        rgba(40, 86, 67, 0) 0%,
        rgba(40, 86, 67, 1) 100%
      );
      padding: 2px;
      border-radius: 12px;
    }
    .feature_wrap {
      background: rgb(18, 27, 23);
      border-radius: 12px;
      height: 100%;
      img {
        transform: translateY(-40%);
        width: 100%;
      }
      h3 {
        @include fluid("padding-left", 24);
        @include fluid("padding-right", 24);
        @include fluid("padding-bottom", 24);
        @include fluid("margin-top", -24);
        @include fz_18;
        text-align: center;
        font-family: "Jura", sans-serif;
      }
    }
  }
  .btn_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @include fluid("margin-top", 54);
  }
}

// MARK: tariffs section

.tariffs_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 40);
    text-align: center;
  }
  .tariffs_block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    @include fluid("gap", 30);
  }
  .card {
    @include fluid("width", 566);
    border-radius: 12px;
    overflow: clip;
    .header_block {
      position: relative;

      .card_bg {
        position: absolute;
        inset: 0;
        img {
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }
      .wrap_header_content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column nowrap;
        @include fluid("gap", 9);
        @include fluid("padding-top", 44);
        @include fluid("padding-right", 167);
        @include fluid("padding-bottom", 43);
        @include fluid("padding-left", 33);
      }
      h3 {
        font-weight: 700;
        @include font(28);
        line-height: 110%;
        letter-spacing: -0.04em;
      }
      .cost {
        font-family: "Micra", sans-serif;
        font-weight: 400;
        @include font(48);
        line-height: 110%;
        letter-spacing: -0.04em;
      }
      .description {
        font-weight: 500;
        @include font(18);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .services_wrap {
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 18);
      background: linear-gradient(
        180deg,
        rgba(40, 86, 67, 0.45) 0%,
        rgba(40, 86, 67, 0.45) 100%
      );
      @include fluid("padding-top", 27);
      @include fluid("padding-right", 30);
      @include fluid("padding-left", 30);
      @include fluid("padding-bottom", 32);
      &.premium {
        background: linear-gradient(
          180deg,
          rgba(28, 52, 83, 0.45) 0%,
          rgba(28, 52, 83, 0.45) 100%
        );
      }
    }
    .services__block {
      display: flex;
      flex-flow: column nowrap;

      @include fluid("gap", 6);
      h4 {
        font-weight: 700;

        @include font(28);
        line-height: 110%;
        letter-spacing: -0.02em;
      }
    }
    .services__list {
      display: flex;
      flex-flow: column nowrap;
      gap: 6px;
      @include fluid("gap", 6);
      li {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        &::before {
          content: url("../images/icons/check.svg");
          @include fluid("width", 20);
          @include fluid("height", 20);
          @include fluid("margin-right", 8);
        }
      }
    }
    .services__note {
      @include fluid("margin-top", 18);
      @include fz_18;
      font-weight: 500;

      line-height: 110%;
      letter-spacing: -0.02em;
    }
    .btn_wrap {
      @include fluid("margin-top", 32);
      a {
        width: 100%;
      }
    }
  }
}

// MARK: Catalog section
.catalog_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
  }
  .models_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 36px;
  }
  .card {
    @include fluid("border-radius", 16);
    @include fluid("padding", 12);
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid $accent_color;
    @include fluid("gap", 22);
    .img_wrap {
      @include fluid("border-radius", 12);
      @include fluid("height", 240);
      overflow: clip;
      margin-top: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content_wrap {
      h3 {
        font-weight: 700;
        @include font(28);

        line-height: 110%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 14);
      }
      .characteristic_block {
        font-weight: 700;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        @include fluid("margin-bottom", 8);
        span {
          color: rgba(255, 255, 255, 0.65);
          @include fluid("margin-right", 14);
        }
      }
    }
    .btn_block {
      @include fluid("margin-top", 22);
      margin-bottom: 4px;
      a {
        width: 100%;
      }
    }
    &.last {
      border: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      a {
        border: 1px solid $accent_color;
        border-radius: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        @include fluid("gap", 13);
        @include fluid("width", 280);
        @include fluid("height", 280);
        background-color: rgba(40, 86, 67, 0.15);

        .title {
          font-weight: 700;
          @include font(28);
          line-height: 110%;
          letter-spacing: -0.02em;
          text-align: center;
        }

        img {
          @include fluid("width", 24);
          @include fluid("height", 24);
        }
        cursor: pointer;
        &:hover {
          background-color: rgba(40, 86, 67, 0.4);
        }
      }
    }
  }
}

// MARK: work process section
.work-process_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
  }
  h2 {
    @include fluid("margin-bottom", 36);
  }
  .steps_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include fluid("column-gap", 33);
    @include fluid("row-gap", 50);
    .step {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: flex-start;
      @include fluid("gap", 14);
    }
    .num_block {
      @include fluid("width", 66);
      @include fluid("height", 66);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(40, 86, 67, 0.5);
      border-radius: 50%;
      flex-shrink: 0;
    }
    .content_block {
      h3 {
        font-weight: bold;
        @include font(28);
        line-height: 95%;
        letter-spacing: -0.04em;
        @include fluid("margin-bottom", 8);
      }
      .description {
        font-weight: 500;
        @include fz_18;
        line-height: 110%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}

//MARK: advantages section

.advantages_section {
  @include fluid("margin-top", 100);
  .wrap_section {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include fluid("gap", 30);
  }
  .advantage {
    position: relative;
    flex: 1;
    background: linear-gradient(
      180deg,
      rgba(40, 86, 67, 0.35) 0%,
      rgba(40, 86, 67, 1) 100%
    );
    padding: 2px;
    @include fluid("border-radius", 12);

    .bg_wrap {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 15px;
      padding-top: 15px;
      img {
        @include fluid("width", 190);
        opacity: 0.3;
      }
    }
    .wrap_advantage {
      @include fluid("padding-top", 48);
      @include fluid("padding-bottom", 20);
      @include fluid("padding-left", 30);
      @include fluid("padding-right", 30);
      @include fluid("border-radius", 12);
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 20);
      background: linear-gradient(
        180deg,
        rgb(18, 27, 23) 0%,
        rgb(18, 27, 23) 100%
      );
      .features_list {
        margin-bottom: 0;
        li {
          .desciption {
            @include fz_18;
            line-height: 110%;
            letter-spacing: -0.02em;
            color: rgba(255, 255, 255, 0.65);
          }
        }
      }
    }
  }
  h3 {
    font-weight: 700;
    @include font(28);
    line-height: 95%;
    letter-spacing: -0.04em;
  }
  .post_title {
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.65);
    span {
      color: $accent_color;
    }
  }
}

// MARK: baner section

.baner_section {
  @include fluid("margin-top", 161);
  .wrap_section {
    position: relative;
    @include setupPaddingSection;
    @include setupWrapSection;
    @include fluid("border-radius", 36);
    background: linear-gradient(
      180deg,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 1) 51.92%
    );
    .section_bg {
      position: absolute;
      bottom: 0;
      right: 80px;
      @include fluid("right", 80);
      @include fluid("width", 423);
    }
  }
  .content_block {
    @include fluid("padding-top", 76);
    @include fluid("padding-bottom", 76);
    @include fluid("padding-left", 64);
    max-width: 60%;
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 36);
  }
  .post_title {
    font-weight: 500;
    @include fz_18;
    line-height: 110%;
    letter-spacing: -0.02em;
  }
  .btn_wrap {
    a {
      @include fluid("width", 546);
    }
  }
}

// MARK: footer

footer {
  position: relative;
  overflow-x: clip;
  @include fluid("margin-top", 100);
  .wrap_footer {
    background-color: rgba(0, 0, 0, 1);
  }

  .inner_footer {
    @include setupPaddingSection;
    @include setupWrapSection;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    @include fluid("padding-bottom", 63);
    @include fluid("padding-top", 56);
  }
  .wrap_gradient {
    position: absolute;
    top: -400px;
    overflow: hidden;
    height: 400px;
    width: 200%;
    z-index: -1;
  }
  .gradient_top {
    z-index: -1;
    transform: translateX(-25%);
    width: 100%;
    height: 800px;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(40, 86, 67, 1) 0%,
      rgba(40, 86, 67, 0) 100%
    );
  }
  h3 {
    font-weight: 600;
    @include font(28);

    letter-spacing: -0.04em;
    @include fluid("margin-bottom", 16);
  }
  .col_logo {
    @include fluid("width", 311);
    display: flex;
    flex-flow: column nowrap;
    gap: 37px;
    .anatation {
      font-weight: 500;
      @include font(20);
      line-height: 110%;
      letter-spacing: -0.02em;
    }
  }

  .col_contacts {
    display: flex;
    flex-flow: column nowrap;
    @include fluid("gap", 47);
    .row_block {
      display: flex;
      flex-flow: column nowrap;
      @include fluid("gap", 10);
    }
    .contact_block {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-weight: 600;
      @include font(20);
      letter-spacing: -0.02em;
      @include fluid("gap", 10);
    }
    .socials_block {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        @include fluid("gap", 11);
        li {
          @include fluid("width", 36);
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .col_legal {
    @include fluid("width", 566);
    .legal_text {
      font-weight: 500;
      font-size: 16px;
      @include fz_16;
      line-height: 100%;
      letter-spacing: -0.02em;
      p {
        @include fluid("margin-bottom", 10);
      }
      span {
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}
