// $accentColor: rgba(140, 233, 0, 1);

// $textColotMain: rgba(255, 255, 255, 1);
// $textColotSecond: rgba(178, 178, 178, 1);
// $textColotTitle: rgba(238, 238, 238, 1);
// $textColorRevers: rgba(0, 0, 0, 1);

// $footer_second_color: #0c0c0c;
$bg_color: rgba(14, 16, 15, 1);
$text_color_main: white;
$accent_color: rgba(40, 86, 67, 1);

// Точки останова

$screen-small: 560;
$screen-medium: 1000;
$screen-larger: 1920;

$screen-container: 1400;

// радиусы
// $radius_card: 15px;
